@using TravelBuddy.Models
@inject Radzen.DialogService DialogService
@inject AppDbContext DbContext;

<h2>@Country.Name's Most Popular Destinations</h2>

<div style="max-height:300px; overflow-y:auto;" class="shadow-lg p-3 mb-5 bg-white rounded">
    <ul class="list-group">
        @{
            var cities = DbContext.Cities.Where(x => x.CountryId == Country.Id).ToList();
                    
            foreach (var city in cities)
            {
                <li class="list-group-item clickable" @onclick="() => SearchGuide(city)">
                    <span class="@city"></span>
                    <p style="display: inline-block">@city.Name</p>
                </li>
            }
        }
    </ul>
</div>

<button class="btn btn-primary" @onclick="CloseDialog">Close</button>

@code {
    [Parameter]
    public Country Country { get; set; }

    public void SearchGuide(City city)
    {
        
    }
    
    void CloseDialog()
    {
        DialogService.Close();
    }
}