@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --bs-primary: #388E3C; /* Pastel Green */
    --bs-secondary: #FF5722; /* Pastel Orange */
    --bg-light: #FFFFFF /* White */
}

body {
    font-family: Arial, sans-serif;
    background: #F5F5F5;
    color: var(--bs-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    background: linear-gradient(to right, #388E3C, #CDDC39);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.3em 0;
}

p {
    color: #FF5722;
}