@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace TravelBuddy.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TravelBuddy - Your Guide to Europe</title>
    <meta charset="utf-8"/>
    <base href="~/"/>
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/lipis_flag_icons.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>

<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />
</body>

<footer>
    <div class="container">
        <p>Designed with <span style="color: #ff5252;">&hearts;</span> by a Travel Enthusiast!</p>
    </div>
    </footer>
</html>
