@page "/About"

<style>
    .about-p{
     color: black;
     font-size: 18px;
    }
</style>

<div class="faded-image-3"></div>
<div class="call-to-action">
    <div class="container">
        <h3>About Travel Buddy</h3>

        <p class="about-p">Welcome to Travel Buddy - your ultimate platform for connecting travellers with local guides around the world!</p>
        <p class="about-p">At Travel Buddy, we're passionate about travel and we believe that the best way to explore a new place is through the eyes of those who know it best - the locals. That's why we've created a platform that bridges the gap between eager travellers and knowledgeable local guides.</p>
        <p class="about-p">Whether you're a traveller seeking authentic local experiences or a local guide looking to share your expertise and love for your hometown, Travel Buddy is the place for you. Our user-friendly platform allows travellers to search for guides based on various parameters such as location, language, and interests. We've also made direct communication, booking, and payment processes seamless and secure.</p>
        <p class="about-p">But that's not all - after your journey, you can rate and review your experience to help other travellers make informed decisions and guides to receive valuable feedback.</p>
        <p class="about-p">We're committed to ensuring that Travel Buddy remains a trusted, reliable, and quality community. Our dedicated admin team moderates profiles, reviews, and interactions to ensure your safety and satisfaction.</p>
        <p class="about-p">Join Travel Buddy today, and turn your travels into unforgettable experiences!</p>
    </div>
</div>
<div class="faded-image-4"></div>

@code {
    
}