@page "/"

<div class="jumbotron">
    <h1 class="display-4">Welcome to TravelBuddy!</h1>
    <p class="lead">Your ultimate guide to Europe travel.</p>
    <hr class="my-4">
    <p>Start by creating a new trip and choose your destination.</p>
    <a class="btn btn-primary btn-lg" href="CreateTrip" role="button">Create New Trip</a>
</div>
