@page "/"

<div class="jumbotron">
  <body>
  <div class="content-wrap">
  <div class="faded-image-1">
    <div class="faded-image-text">
      <h1 class="display-4" style="font-size: 100px; color: white">Welcome to TravelBuddy!</h1>
      &nbsp;
      <p class="lead" style="font-size: 52px; color: white;">Your ultimate guide to European travel.</p>
    </div>
  </div>

  <div class="about-section">
    <div class="container">
      <h2 class="display-4 travel-heading">Discover Europe Like Never Before</h2>
      <p class="lead">With TravelBuddy, you get access to our curated travel guides, tips from locals, and personalised itinerary suggestions to make your European journey unforgettable.</p>
    </div>
  </div>

  <div class="faded-image-2"></div>
  &nbsp;&nbsp;

  <div class="call-to-action">
    <div class="container">
      <h2 class="display-4 travel-heading">Start Your Adventure Now</h2>
      <p class="lead">Choose your destination and let us help you explore Europe in a whole new way.</p>
      <a class="btn btn-primary btn-lg" href="CreateTrip" role="button">Create Your Dream Adventure</a>
    </div>
  </div>
  
  &nbsp;
  &nbsp;
  
  </div>
  </body>
</div>
